<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>

  <a th:href="@{/}">Go Home</a>
        <div class="kotak_login">
        
          <h1>Admin Login</h1>
        
          <form action="/logadmin" method="post" th:object="${adminlog}">
          <div class="container">
            <label for="email"><strong>User Code</strong></label>
            <input class="form_login" type="number" placeholder="Userid . . ." th:field="*{registrationId}" required />
        
            <label for="psw-repeat"><strong>Password</strong></label>
            <input class="form_login" type="password" placeholder="Password . . ." name="pwd" id="pwd" th:field="*{password}" required />    
            <label>
              <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>
              <button type="submit" class="tombol_login">Login</button>
          </div>
        </form>
        
        </div>
</body>
</html>