<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/table2.css">
</head>
<body>
	<div class="container">
			<button type="button" value="back" onclick="history.go(-1);">Go Back</button>
		
		</div>
				
				<table>
				<caption><!-- patient detail --></caption>
					<thead>
						<tr>

							
							<th>regcode</th>
							<th>patientname</th>
							<th>gender</th>
							<th>age</th>
							<th>address</th>
							<th>mailid</th>
							<th>mobileNo</th>
							<th>disease</th>
							<th>action</th>
						</tr>
					</thead>
					<tbody>
	

						<tr th:each="user : ${profile}">
						
							<td th:text="${user.getPatientId()}"></td>
							<td th:text="${user.getPatientName()}"></td>
							<td th:text="${user.getPatientGender()}"></td>
							<td th:text="${user.getPatientAge()}"></td>
							<td th:text="${user.getPatientAddress()}"></td>
							<td th:text="${user.getPatientMail()}"></td>
							<td th:text="${user.getMobileNumber()}"></td>
		                    <td th:text="${user.getDiseaes()}"></td>
		                    <td><a th:href="@{/openpatientedit}">update</button></td>
						</tr>

					</tbody>
				</table>
				</form>
</body>
</html>